/*#impossibleCourage {
    background-image: url(/graphics/dotsGrid.svg), url(impossibleCourage/coverimg.png);
    background-size: 190px 190px, cover;
    background-position: center, center;
}*/

#impossibleCourage {
    background-image: url(impossibleCourage/coverimg.png);
    background-size: cover;
    background-position: center;
}

#lovingArms {
    background-image: url(lovingArms/img2.png);
    background-size: cover;
    background-position: center;
}

#justYouWait {
    background-image: url(justYouWait/coverimg.png);
    background-size: cover;
    background-position: center;
}

#vortex2016 {
    background-image: url(vortex/coverimg.png);
    background-size: cover;
    background-position: center;
}

#inscape {
    background-image: url(inscape/img1.png);
    background-size: cover;
    background-position: center;
}

#eightByTens {
    background-image: url(eightbytens/img2.png);
    background-size: cover;
    background-position: center;
}

#thanksJackie {
    background-image: url(thanksjackie/img1.jpg);
    background-size: cover;
    background-position: center;
}

#breakingDown {
    background-image: url(breakingdown/coverimg.png);
    background-size: cover;
    background-position: left;
}

#woodshop {
    background-image: url(woodshop/img1.png);
    background-size: cover;
    background-position: center;
}

#motherMoon {
    background-image: url(mothermoon/coverimg.png);
    background-size: cover;
    background-position: 800;
}

#edovo {
    background-image: url(edovo/coverimg.png);
    background-size: cover;
    background-position: center;
}

#lowPoly {
    background-image: url(lowpoly/coverimg.png);
    background-size: cover;
    background-position: 1400;
}

#projectED {
    background-image: url(projected/coverimg.png);
    background-size: cover;
    background-position: 190;
}

#hotSauce {
    background-image: url(hotsauce/coverimg.png);
    background-size: cover;
    background-position: center;
}

#eyesAbove {
    background-image: url(eyesabove/coverimg.png);
    background-size: cover;
    background-position: center;
}

#digitalArtist {
    background-image: url(digitalartist/coverimg.png);
    background-size: cover;
    background-position: 1350;
}

#growing {
    background-image: url(growing/coverimg.png);
    background-size: cover;
    background-position: 1800;
}
