/*Universal Styles*/

html,
body {
    margin: 0px;
    padding: 0px;
    font-family: "lato";
    font-weight: 300;
    height: 100%;
    background-color: #ffffff;
}

b {
    font-weight: 400;
}

a {
    color: #000000;
    text-decoration: none;
}

p {
    text-align: center;
    display: block;
    margin: 10px;
}

.line {
    border-bottom: 1px solid;
    width: 220px;
    margin: 30px auto;
    display: block
}

#line_light {
    border-bottom: 1px solid #bfbfbf;
}


/*Header Styles*/

.Header {
    padding: 10px 10px 0px 10px;
}

.Title {
    max-width: 50vw;
    margin: 5px auto 5px auto;
    padding: 10px 0px 0px 0px;
    font-size: 4em;
    font-weight: 300;
    font-style: normal;
    text-align: center;
}

.Subtitle {
    font-size: 1em;
    max-width: 50vw;
    margin: 20px auto;
    text-align: center;
}

.NavBar {
    width: 60vw;
    margin: 5px auto 0px;
    padding: 0px;
    text-align: center;
}

.NavButton {
    text-align: center;
    display: inline-block;
    width: 10vw;
    min-width: 120px;
    padding: 5px;
    background-color: #e6e6e6;
    font-weight: 300;
    margin: 2px;
    margin-bottom: 0px;
    transition: 0.1s;
}

.NavButton:hover {
    background-color: #ff6666;
    width: 11vw;
    cursor: pointer;
    color: white;
    transition: 0.1s;
}

#NavButton_Current {
    background-color: #ffffff;
    box-shadow: 0px 0px 0px 2px #e6e6e6 inset;
}

#NavButton_Current:hover {
    background-color: #ff6666;
    box-shadow: none;
}


/*Index Styles*/

.body {
    padding-bottom: 2vh;
}

.body_splash {
    text-align: center;
    position: absolute;
    top: 50vh;
    margin-top: -25vh;
    height: 50vh;
    width: 50vw;
    left: 50vw;
    margin-left: -25vw;
}

.error {
    margin: auto;
}

.container {
    position: relative;
    left: 5;
    width: 1000;
    margin: auto;
    min-height: 100%;
}

.box {
    background-color: #e6e6e6;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 15px #e6e6e6;
}

.box:hover {
    cursor: pointer;
    box-shadow: 0 0 30px #e6e6e6;
}

.projectTitle {
    background-color: #ffffff;
    /*border-top-left-radius: 5px;*/
    /*border-top-right-radius: 5px;*/
    padding: 5px;
    /*box-shadow: 0px 0px 0px 2px #e6e6e6 inset;*/
}

@media only screen and (max-width: 1100px) {
    .NavBar {
        width: auto;
    }
    .NavButton {
        width: 200px;
        display: block;
        height: auto;
        margin: 5px auto;
        padding: 8px 0px;
        font-size: 1.5em;
    }
    .NavButton:hover {
        width: 200px;
    }
    .Footer {
        width: 80vw;
        margin: auto;
    }
    .container {
        width: 600;
    }
}

@media only screen and (max-width: 900px) {
    .container {
        width: 400px;
    }
}


/*Footer Styles/Functionality*/

.Wrap {
    height: 90%;
    overflow: scroll;
}

.Footer {
    height: 10%;
    overflow: hidden;
}

@media only screen and (max-width: 900px) {
    .Wrap {
        height: 100%;
    }
    .Footer {
        font-size: 0.8em;
    }
}


/*Reel Styles*/

.reel {
    width: 80vw;
    height: 60vh;
    display: block;
    margin: 20px auto;
}

.reeltext {
    display: block;
    margin: auto;
    max-width: 80vw;
    text-align: center;
}

@media only screen and (max-width: 1100px) {
    .reel {
        width: 100vw;
        height: 56.25vw;
    }
}


/*Story Styles*/

.story {
    width: 80vw;
    max-width: 800px;
    display: block;
    margin: 20px auto;
}

.story p {
    text-align: justify;
}

/*404 Page*/

.error {
    max-width: 50vw;
    max-height: 50vh;
}
